<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div class="top-right-align">
        <a th:href="@{/view/servicetask/add}">Add new task</a>
    </div>

    <h2>Task List:</h2>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <!--Tu będziemy pisać content <> start-->
        <div class="row" th:each="task : ${serviceTasks}">
            <div class="col-md-3"><p th:text="${task.dateAdded}"></p></div>
            <div class="col-md-3"><p th:text="${task.description}"></p></div>
            <div class="col-md-3">Delete</div>
            <div class="col-md-3">Modify</div>
        </div>
        <!--Tu będziemy pisać content <> end -->
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>