<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>

<body class="text-center">
<div class="container">
    <div th:replace="template :: navigator"></div>

    <div class="top-right-align">
        <a th:href="@{/view/servicetask/add}">Add new task</a>
    </div>

    <h2>Task List:</h2>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div>
        <!--Tu będziemy pisać content <> start-->
        <div class="row">
        <div class="row col-md-12" th:each="task : ${serviceTasks}">
            <div class="col-md-3" th:text="${task.dateAdded}"></p></div>
            <div class="col-md-3" th:text="${task.description}"></p></div>
            <div class="col-md-3"></div>
                <a th:href="@{'/view/servicetask/delete/' + ${task.getId()}}">delete</a></div>
            <div class="col-md-3">
                <!--<a th:href="@{'/view/servicetask/edit/' + ${dev.id}}">Edit</a>-->

            </div>
        </div>

        </div>
        <!--Tu będziemy pisać content <> end -->
    </div>
</div>
<th:block th:include="template :: scripts_js"/>
</body>
</html>