<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Your Devices</title>
</head>

<body class="text-center">
<div class="container">
    <div th:replace="template :: navigator"></div>

    <h2>Device list:</h2>

    <div>
        <div class="row ">
            <div class="row col-md-12" th:each="dev : ${devices}">
                <!--<div class="col-md-offset-2 col-md-8">-->
                <div class="col-md-2" th:text="${dev.name}"></div>
                <div class="col-md-1" th:text="${dev.value}"></div>
                <div class="col-md-2" th:text="${dev.dateAdded}"></div>
                <div class="col-md-2" th:text="${dev.serialNumber}"></div>
                <div class="col-md-2" th:text="${dev.productionYear}"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1" style="text-align:center; font-size:75%">
                    <a th:href="@{'/view/device/delete/' + ${dev.getId()}}">Remove</a>
                </div>
                <div class="col-md-1" style="text-align:center; font-size:75%">
                    <a th:href="@{'/view/device/edit/' + ${dev.id}}">Update</a>
                </div>


                <!--</div>-->
            </div>
        </div>
    </div>


    <!--Tu będziemy pisać content <> end -->
</div>
<th:block th:include="template :: scripts_js"/>
</body>
</html>