<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body class="text-center">
<div th:replace="template :: navigator"></div>
<div th:if="${error_message}">
    <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>

<div class="container">
    <!--Tu będziemy pisać content <> start-->
    <h2>Welcome!</h2>
    <div th:if="${username}">
        Hello <p th:text="${username}"></p>!
    </div>
    <!--Tu będziemy pisać content <> end -->
</div>
<th:block th:include="template :: scripts_js"/>
</body>
</html>