<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body class="text-center">
<div class="container padding-additional200">

    <h2>Login page:</h2>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

        <!--Tu będziemy pisać content <> start-->
        <form th:action="@{/login}" method="post">

            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <div class="form-login">
                        <h4>Login Please</h4>
                        <input type="text" name="username" id="username" class="form-control input-sm chat-input"
                               placeholder="username"/>
                        </br>
                        <input type="text" id="Password" name="password" class="form-control input-sm chat-input"
                               placeholder="password"/>
                        </br>
                        <div class="wrapper">
            <span class="group-btn">
                <input class="form-control" type="submit" value="Login">
            </span>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        <!--Tu będziemy pisać content <> end-->
    </div>
<th:block th:include="template :: scripts_js"/>
</body>
</html>
